<html ng-app='app3'>
	<body ng-controller='mainCtrl'>








<header>
	Search: <input ng-model="dataFilter" type="text" >
</header>
		<ul ng-repeat="data in myData | filter: dataFilter">
			<li>{{data.name}}</li>
			<li>{{data.email}}</li>
			<li>{{data.dateEmployed}}</li>
			<li>{{data.phone}}</li>
		</ul>








		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
